@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

.Loading{
    color:black;
}

.Entire{
    display: flex;
}

.List{
    position: relative;
    left:10px;
    top: 10px;
    height: 90vh;
    margin: 5px;
    overflow: auto;
    max-width: 250px;
    border: 1px black;
}

.List::-webkit-scrollbar{
    width: 10px;
}

.Main{
    font-size: 34px;
    position: relative;
    left: 240px;
    color:black;
    font-family: 'Noto Sans KR', sans-serif;
}

.List::-webkit-scrollbar-thumb{
    background-color:white;
    border-radius: 2rem;
}

.Coin{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-top:3px solid #d9d9d9;
    background-color: white;
    justify-content:center;
}

.Coin:hover{
    background-color: #d9d9d9;
}

.MainCoinList{
    margin:0px;
    padding: 0.5rem;
    line-height: 1rem;
    height: auto;
    width: auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.Graph{
    position: relative;
    top: 10px;
}

.Price{
    width: 200px;
}

.ChangePeriod{
    cursor: pointer;
    border: 1px;
    background-color: white;
    
}

.centerSquare{
    position: relative;
    top:20px;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid white;
    padding: 0.5rem;
}

.coinInput{
    background-color: white;
    border-color: white;
    border: 1px;
}

.buyButton{
    background-color: white;
    border-color: white;
    border: 1px;
}