.List{
    position:absolute;
    right: 3%;
    top:3%;
    width: 15%;
    height: 95vh;
    margin: 5px;
    overflow: auto;
}

.List::-webkit-scrollbar{
    width: 10px;
}

.List::-webkit-scrollbar-thumb{
    background-color:white;
}
.CoinList{
    list-style: none;
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}
.MainCoin{
    display: flex;
    justify-content: center;
    align-items: center;
}

