@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


.List{
    height: 81vh;
    width: 250px;
    margin: 5px;
    overflow: auto;
    max-width: 400px;
    border: 1px black;
}

.List::-webkit-scrollbar{
    width: 10px;
}

.List::-webkit-scrollbar-thumb{
    background-color:white;
    border-radius: 2rem;
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}

.MainCoin{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

