@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


.List{
    /* position: fixed;
    right: 20%;
    top:5.5%; */
    height: 81vh;
    margin: 5px;
    overflow: auto;
    max-width: 400px;
    border: 1px black;
}

.ListTop{
    position: fixed;
    top:2.5%;
    right: 23.5%;
    font-family: 'Noto Sans KR', sans-serif;
}

.List::-webkit-scrollbar{
    width: 10px;
}

.List::-webkit-scrollbar-thumb{
    background-color:white;
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}

.MainCoin{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
}

