@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

.tableColor{
    background-color: lemonchiffon;
    border-radius: 10px;
}

body{
    background-color: #e9ecf1;
    margin:0px;
}

.MainCoinList{
    background-color: white;
    margin:0px;
    padding: 0.5rem;
    border: 1px solid black;
    line-height: 1rem;
    height: auto;
    width: auto;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    color:black
}

.Main{
    font-size: 32px;
    color:orange;
    font-family: 'Noto Sans KR', sans-serif;
}