@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


body{
    background-color: #e9ecf1;
    margin: 0 auto;
    max-width: 1000px;
}

.MainCoinList{
    margin:0px;
    padding: 0.5rem;
    line-height: 1rem;
    height: auto;
    width: auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.Main{
    font-size: 34px;
    position: relative;
    left: 195px;
    color:black;
    font-family: 'Noto Sans KR', sans-serif;
}

.Coin{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-top:3px solid #d9d9d9;
    background-color: white;
    justify-content:center;
}
.Coin:hover{
    background-color: #d9d9d9;
}
.MainCoinsCollection{
    background-color: white;
    width: 700px;
    margin: 20px;
    height: 400px;
    padding: 0rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

.MainCoinNCoinList{
    display: flex;
}

.Entire{
    padding: 2rem;
}
.PersonalMoney{
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    bottom: 630px;
    left: 30px;
}